<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <helloworld_section_id>
            <general>
                <enable>1</enable>
                <display_text>Tuong</display_text>
            </general>
            <general2>
                <enable>1</enable>
                <display_text>Tuong abc</display_text>
            </general2>
        </helloworld_section_id>
        <id_technical>
            <general>
                <enable>1</enable>
                <display_text_position>Tuong</display_text_position>
                <display_number_phone>0000</display_number_phone>
            </general>
            <general2>
                <enable>1</enable>
                <display_text>Tuong abc</display_text>
            </general2>
        </id_technical>
    </default>
</config>
